<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/home.css' %}">
    </head>

    <header class="top-bar">
        <div class="top-bar-left">
            <h1>BirdBlog</h1>
        </div>

        <div class="top-bar-right">
            <a href="/users/login/" class="auth-link">Ingresa/Registrate</a>
        </div>
    </header>

    <body>
        
    </body>

    <script src="{% static 'main/home.js' %}"></script>
</html>